#logo {
    height: 10vh;
}

header {
    background-color: #335030;
}

#menu {
    font-family: 'Audiowide', cursive;
    color: #F8FF30;
}

#Clark {
    border-radius: 50px;
}

h1 {
    text-align: center;
    border: 3px solid #81e315;
    border-radius: 20px;
    font-family: 'Audiowide', cursive;
}

#jumbo {
    background-image: url(Images/the-green-lantern-wallpaper-by-Van\ Sciver.jpg);
    background-repeat: no-repeat;
    height: 35em;
    background-position: center;
}

body {
    font-family: 'Open Sans', sans-serif;
}