body {
    font-family: 'Open Sans', sans-serif;
}



#logo {
    height: 10vh;
}

header {
    background-color: #335030;
}

#menu {
    font-family: 'Audiowide', cursive;
    color: #F8FF30;
}


#Clark {
    border-radius: 50px;
}



#jumbo {
    background-image: url(Images/the-green-lantern-wallpaper-by-Van\ Sciver.jpg);
    background-repeat: no-repeat;
    height: 35em;
    background-position: center;
    color: #f8ff30;
    text-shadow: 2px 3px 1px #488f52;
}

#jumbo h2 {
    font-family: 'Audiowide', cursive;
    margin-top: 4em;
}



.gras {
    font-weight: bold;
}



h1 {
    text-align: center;
    color: #488f52;
    border: 3px solid #81e315;
    border-radius: 20px;
    font-family: 'Audiowide', cursive;
    font-size: 2em;
}

h1 a {
    text-decoration: none;
    color: #81e315;
    font-family: 'Audiowide', cursive;  
}

h3 {
    text-decoration: none;
    color: #81e315;
    font-family: 'Audiowide', cursive; 
}

h3 a {
    text-decoration: none;
    color: #81e315;
    font-family: 'Open Sans', sans-serif;
}